name: Cypress E2E Tests

on:
  workflow_dispatch:

  push:
    branches:
      - main

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cypress Run
        uses: cypress-io/github-action@v6
        with:
          build: npm run build
          start: npm run start

          wait-on: 'http://localhost:4173'
          wait-on-timeout: 120
          browser: chrome
